/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
:root {
	--filter-color : #1D6154;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	margin-top: 0.7em;
	}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
header nav {
	display: flex;
	justify-content: center;
}
header a {
	text-decoration: none;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	margin-left: 60px;
	font-size: 1.2em;
	list-style-type: none;
	color: black;
}
nav a {
	color: black;
	text-decoration: none;
}
nav a:visited {
	color: black;
}
nav img {
	width: 22px;
	height: 22px;
}
li:hover {
	color: #B1663C;
}
#login-page {
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
	margin: 10em 0 10em 6em;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 474px;
}
#introduction article {
	flex: 1;
	padding-left: 50px;
}
#introduction h2 {
	margin-bottom: 0.7em;
}

#introduction p {
	width: 404px;
	line-height: 16.42px;
	margin-top: 1.2em;
}
#portfolio {
    position: relative;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
	position: relative;
}
#portfolio .category-filters {
	display: flex;
	justify-content: center;
	gap: 10px;
}
#portfolio .filters {
	cursor: pointer;
	font-family: 'Syne';
	color: var(--filter-color);
    font-size: 16px;
    font-weight: 700;    
    border: 1px solid var(--filter-color);
	background-color: white;
    border-radius: 60px;
	height: 37px;
	min-width: 100px;
	padding: 0 10px;
	margin-bottom: 3em;
}
#portfolio .filter_selected {
	color: white;
	background-color: var(--filter-color);
}
.gallery {
	width: 82.8%;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: auto;
}
.gallery img {
	width: 100%;
}
.gallery figcaption {
	font-family: 'Work Sans';
	font-size:13px;
	font-weight: 400;
	margin-top: 0.4em;
	}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}

#login-info > * {
	text-align: center;
	margin-top: 200px;
}
#contact h2,
#login-info h2 {
	margin-bottom: 20px;
}
#contact p {
	font-family: 'Work Sans';
	font-size: 16px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	width: 65%;
	margin: auto;
}
#login-info form {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: auto;
}
#contact input,
#login-info input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login-info label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"]{
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto ;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
}
#login-info input[type="submit"]{
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto 2em auto;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
}
#login-info a {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;	
	text-align: center;
	margin-bottom: 300px;
}
#login-info a:visited {
	color: #3D3D3D;
}
#connection-error-message {
	color: #FF0000;
}
footer {
	margin: 0;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em 0 2em 2em;
}
footer nav li {
	font-size: 14px;
	font-weight: 300;
	padding-right: 0;
	margin-right: 0;
}

/* Style en mode édition */

.edit-mode-banner {
	position: absolute;
    background-color: black;
    color: white;
    text-align: center;
	padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
}

.edit-mode-banner i {
	margin-right: 10px;
    height: 15.6px;
}

.edit-mode-banner span {
	font-family: 'Work Sans';
    font-size: 16px;
	font-weight: 400;
}

#portfolio .edit-mode-project a {
	position: absolute;
	text-decoration: none;
    color: black;
    left: 700px;
    top: 0;
	padding-top: 10px;
    display: flex;	
	border: none;
	background-color: white;
	cursor: pointer;
}

#portfolio .edit-mode-project i {
	margin-right: 5px;
    height: 15.6px;
}

#portfolio .edit-mode-project span {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
}

#portfolio .remove-filters-button {
	display: none;
}

#portfolio .edit-mode-gallery {
	margin-top: 80px;
}

.spaceBannerEditMode {
	margin-top: 100px;
}

.modal-section {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.modal-window {
	position: relative;
	background: white;
	padding: 20px;
	width: 630px;
	height: 688px;
	border-radius: 10px;
}

#modal-title {
	display: flex;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-top: 10px;
	justify-content: center;
}

#modal-close-button {
	display: flex;
	font-size: 24px;
	justify-content: end;
	margin: 0;
	margin: 20px 20px 0 0;
	cursor: pointer;
}

.modal-button-add-photo {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 3em auto ;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
}

.modal-gallery {
	display: flex;
	height: 400px;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	row-gap: 30px;
	margin: 50px 102.5px 0 102.5px;
	padding-bottom: 50px;
	border-bottom: 1px solid #B3B3B3;
}

.modal-gallery-image {
	height: 102.57px;
	width: 76.86px;
}

.modal-project-container {
    position: relative;
}

.modal-delete-icon {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 9px;
	padding: 4px;
	border-radius: 2px;
    color: white;
	background-color: black; 
    cursor: pointer;
}
